.container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.btn {
  display: inline-block;
  background-color: #0e69b1;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.031em;
}
.btn:hover {
  background-color: #fff;
  color: #0e69b1;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, nav, .btn {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.031em;
}

nav {
  background-color: #0e69b1;
  padding: 1.3em 0;
}
nav .nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav .nav__list-item {
  display: inline;
  list-style: none;
  margin: 0 0.313em;
}
nav .nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  padding: 3.5rem 0;
  text-align: center;
}
.about__photo {
  width: 250px;
  height: auto;
  border: 2px solid #fff;
  box-shadow: 3px 3px 5px #ddd;
}
.about__text {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 576px) {
  .about__text {
    max-width: 420px;
  }
}
.about__text:nth-of-type(2) {
  margin-top: 0;
  margin-bottom: 0;
}

.projects {
  padding: 3.5rem 0;
  background-color: #06a5c8;
  color: #fff;
}
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.projects__heading {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
.projects .project {
  width: 100%;
}
.projects .project p {
  display: inline-block;
  width: 100%;
}
.projects .project:not(:last-of-type) {
  margin-bottom: 3rem;
}
.projects .project__screenshot {
  width: 100%;
}
.projects .project__title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.projects .project__description {
  margin: 0;
}
.projects .project__tech {
  margin-bottom: 0;
}
.projects .project__list {
  padding-left: 0;
}
.projects .project__list-item {
  display: inline;
  list-style: none;
  margin-right: 0.4em;
}
@media (min-width: 768px) {
  .projects .project {
    width: 48%;
    padding: 0 0.313rem;
  }
}
@media (min-width: 992px) {
  .projects .project {
    padding: 0 0.5rem;
  }
}
@media (min-width: 1200px) {
  .projects .project {
    width: 32%;
    padding: 0 0.4rem;
  }
}

.blog {
  padding: 3.5rem 0;
}
.blog__heading {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
.blog-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.blog__post {
  margin-bottom: 3rem;
}
.blog__post-image {
  width: 100%;
}
.blog__post-date {
  margin: 0 0 10px;
}
.blog__post-description {
  margin-top: 0;
}
.blog__post-btn:hover {
  background-color: #06a5c8;
  color: #fff;
}
.blog__link {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  background-color: #06a5c8;
}
.blog__link:hover {
  background-color: #0e69b1;
  color: #fff;
}

.contact {
  padding: 3.5rem 0;
  background-color: #06a5c8;
  color: #fff;
}
.contact__heading {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
.contact__content {
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 500px;
}
.contact__email-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}
.contact__email-link:hover {
  color: #000;
  border-bottom: none;
}

.footer {
  background-color: #0e69b1;
  text-align: center;
  padding: 1.25em 0;
}
.footer__list {
  margin: 0;
  padding: 0.5em 0;
}
.footer__list-item {
  display: inline;
  list-style: none;
  margin: 0 0.313em;
}
.footer__link {
  color: #fff;
  font-size: 1.5em;
}
.footer__link:hover {
  color: #000;
}
.footer__copyright {
  margin: 0;
  color: #fff;
}
