.container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.btn {
  display: inline-block;
  background-color: #0e69b1;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.031em;
}
.btn:hover {
  background-color: #fff;
  color: #0e69b1;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, nav, .btn {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.031em;
}

nav {
  background-color: #0e69b1;
  padding: 1.3em 0;
}
nav .nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav .nav__list-item {
  display: inline;
  list-style: none;
  margin: 0 0.313em;
}
nav .nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  padding: 3.5rem 0;
  text-align: center;
}
.about__photo {
  width: 250px;
  height: auto;
  border: 2px solid #fff;
  box-shadow: 3px 3px 5px #ddd;
}
.about__text:nth-of-type(2) {
  margin: 0;
}

.projects {
  padding: 3.5rem 0;
  background-color: #06a5c8;
  color: #fff;
}
.projects__heading {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
.projects .project:not(:last-of-type) {
  margin-bottom: 3rem;
}
.projects .project__screenshot {
  width: 100%;
}
.projects .project__title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.projects .project__list {
  padding-left: 0;
}
.projects .project__list-item {
  display: inline;
  list-style: none;
  margin-right: 0.4em;
}

.blog {
  padding: 3.5rem 0;
}
.blog__heading {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
.blog__post {
  margin-bottom: 3rem;
}
.blog__post-image {
  width: 100%;
}
.blog__post-description {
  margin-top: 0;
}
.blog__post-btn:hover {
  background-color: #06a5c8;
  color: #fff;
}

.footer {
  background-color: #0e69b1;
  text-align: center;
  padding: 1.25em 0;
}
.footer__list {
  margin: 0;
  padding: 0.5em 0;
}
.footer__list-item {
  display: inline;
  list-style: none;
  margin: 0 0.313em;
}
.footer__link {
  color: #fff;
  font-size: 1.5em;
}
.footer__link:hover {
  color: #000;
}
.footer__copyright {
  margin: 0;
  color: #fff;
}
