body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, nav, .btn {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.031em;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

nav {
  background-color: #0e69b1;
  padding: 1.3em 0;
}
nav .nav {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav .nav__list-item {
  display: inline;
  list-style: none;
  margin: 0 0.313em;
}
nav .nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  padding: 3.5rem 0;
  text-align: center;
}
.about__photo {
  width: 250px;
  height: auto;
  border: 2px solid #fff;
  box-shadow: 3px 3px 5px #ddd;
}

.projects .project__screenshot {
  width: 100%;
}

.blog__post-image {
  width: 100%;
}

.footer {
  background-color: #0e69b1;
  text-align: center;
  padding: 1.25em 0;
}
.footer__list {
  margin: 0;
  padding: 0.5em 0;
}
.footer__list-item {
  display: inline;
  list-style: none;
  margin: 0 0.313em;
}
.footer__link {
  color: #fff;
  font-size: 1.5em;
}
.footer__link:hover {
  color: #000;
}
.footer__copyright {
  margin: 0;
  color: #fff;
}
