@import "partials/variables";
@import "partials/mixins";

@import "partials/utilities/container";
@import "partials/utilities/buttons";

body {
	font-family: $font-a;
}

h1, h2, h3, h4, h5, h6, nav {
	font-family: $font-b;
	font-weight: 300;
	letter-spacing: 0.031em;
}

// Components
@import "partials/components/nav";
@import "partials/components/about";
@import "partials/components/projects";
@import "partials/components/blog";
@import "partials/components/contact";
@import "partials/components/footer";