@import "partials/variables";
@import "partials/mixins";

body {
	font-family: $font-a;
}

h1, h2, h3, h4, h5, h6, nav, .btn {
	font-family: $font-b;
	font-weight: 300;
	letter-spacing: 0.031em;
}

main {
	@include centre-block;
	width: 80%;
}

// Components
@import "partials/components/nav";
@import "partials/components/about";
@import "partials/components/projects";
@import "partials/components/blog";
@import "partials/components/footer";