.blog {
  @include section-spacing;
  &__heading {
    @include section-heading;
  }
	&__post {
    margin-bottom: 3rem;
		&-image {
			width: 100%;
		}
    &-description {
      margin-top: 0;
    }
    &-btn:hover {
      background-color: $blue-2;
      color: $white;
    }
	}
  &__link {
    @include centre-block;
    display: block;
    text-align: center;
    background-color: $blue-2;
    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}