.blog {
  @include section-spacing;
  &__heading {
    @include section-heading;
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
	&__post {
    width: 100%;
    margin-bottom: 3rem;
		&-image {
			width: 100%;
		}
    &-date {
      margin: 0 0 10px;
    }
    &-description {
      margin-top: 0;
    }
    &-btn:hover {
      background-color: $blue-2;
      color: $white;
    }
    @media (min-width: 768px) {
      @include cols-2;
    }
    @media (min-width: 992px) {
      padding: 0 0.5rem;
    }
    @media (min-width: 1200px) {
      @include cols-3;
    }
	}
  &__link {
    @include centre-block;
    display: block;
    text-align: center;
    background-color: $blue-2;
    &:hover {
      background-color: $blue;
      color: $white;
    }
    @media (min-width: 768px) {
      width: 30%;
    }
  }
}