.contact {
  @include section-spacing;
  background-color: $blue-2;
  color: $white;
  &__heading {
    @include section-heading;
  }
  &__content {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 500px;
  }
  &__email-link {
    color: $white;
    text-decoration: none;
    border-bottom: 1px dashed $white;
    &:hover {
      color: $black;
      border-bottom: none;
    }
  }
}