.contact {
  @include section-spacing;
  background-color: $blue-2;
  color: $white;
  text-align: center;
  &__heading {
    @include section-heading;
  }
  &__list {
  	margin: 0 0 1rem 0;
    padding: 0.5em 0;
    display: inline-block;
  }
  &__list-item {
  	display: inline;
  	list-style: none;
  	margin: 0 0.313em;
  }
  &__link {
  	color: $white;
  	font-size: 1.5em;
  	&:hover {
  		color: $black;
  	}
  }
  &__content {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 500px;
    text-align: left;
  }
  &__email-link {
    color: $white;
    text-decoration: none;
    border-bottom: 1px dashed $white;
    &:hover {
      color: $black;
      border-bottom: none;
    }
  }
}