.projects {
	@include section-spacing;
	background-color: $blue-2;
  color: $white;
  &__heading {
    @include section-heading;
  }
	.project {
    &:not(:last-of-type) { 
      margin-bottom: 3rem;
    }
		&__screenshot {
			width: 100%;
		}
    &__title {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.1em;
    }
    &__list {
      padding-left: 0;
      &-item {
        display: inline;
        list-style: none;
        margin-right: 0.4em;
      }
    }
	}
}