.projects {
    @include section;

    &__heading {
        @extend .section-heading;
    }

    .project {
        padding: 1rem 0;

        &__title {
            font-size: 1.25rem;
            font-weight: $light;
            line-height: 1.75;
            margin: 0;
            padding-bottom: .5rem;
        }

        &__description {
            font-weight: $light;
            line-height: 1.5;
            margin: 0;
            padding-bottom: 1rem;
        }

        &__list {
            margin: 0;
            padding-left: 0;

            &-item {
                display: inline-block;
                list-style: none;
            }
        }
    }
}