.main {
    @include space-reset;
    display: inline-block;
    width: 100%;

    @media screen and (min-width: $tablet) {
        width: 65%;
    }

    @media screen and (min-width: $desktop) {
        width: 70%;
    }
}