.container {
    @include centre-block;
    max-width: 960px;
    width: 100%;

    @media screen and (min-width: $tablet) {
        & {
            max-width: 720px;
        }
    }

    @media screen and (min-width: $desktop) {
        & {
            max-width: 960px;
        }
    }

    @media screen and (min-width: $desktop-xl) {
        & {
            max-width: 1140px;
        }
    }
}